.parallax {
    background-image: url("ruby.png");

    min-height: 500px;
    max-width: 100vw;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-down {
  background: none;
  background-image: url("rails.png");

  height:100vh;
  width: 70vw;

}