<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @fish.name %>
</p>

<p>
  <strong>Origin:</strong>
  <%= @fish.origin %>
</p>

<p>
  <strong>Color:</strong>
  <%= @fish.color %>
</p>

<%= link_to 'Edit', edit_fish_path(@fish) %> |
<%= link_to 'Back', fish_index_path %>
